In [1]:
import pandas as pd
# Step1: Load the dataset
df = pd.read_csv("E:/Data Projects/customer-lifecycle-intelligence/data/raw/marketing_campaign.csv",sep='\t')
print(df.head())
print(df.columns)
#Check missing values
print("\n Missing values:")
print(df.isnull().sum())
#Check data types
print("\n Column Data Types:")
print(df.dtypes)
#Check Shape
print(f"\n Dataset Shape: {df.shape[0]} rows, {df.shape[1]} columns")
#Description of numerical and categorical columns
print("\n Descriptive statistics(Numeric):")
print(df.describe())
print("\n Descriptive Statistics (Categorical):")
print(df.describe(include=['object']))

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]
Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

 Missing values:
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

 Column Data Types:
ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

 Dataset Shape: 2240 rows, 29 columns

 Descriptive statistics(Numeric):
                 ID   Year_Birth         Income      Kidhome     Teenhome  \
count   2240.000000  2240.000000    2216.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   52247.251354     0.444196     0.506250
std     3246.662198    11.984069   25173.076661     0.538398     0.544538
min        0.000000  1893.000000    1730.000000     0.000000     0.000000
25%     2828.250000  1959.000000   35303.000000     0.000000     0.000000
50%     5458.500000  1970.000000   51381.500000     0.000000     0.000000
75%     8427.750000  1977.000000   68522.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000

           Recency     MntWines    MntFruits  MntMeatProducts  \
count  2240.000000  2240.000000  2240.000000      2240.000000
mean     49.109375   303.935714    26.302232       166.950000
std      28.962453   336.597393    39.773434       225.715373
min       0.000000     0.000000     0.000000         0.000000
25%      24.000000    23.750000     1.000000        16.000000
50%      49.000000   173.500000     8.000000        67.000000
75%      74.000000   504.250000    33.000000       232.000000
max      99.000000  1493.000000   199.000000      1725.000000

       MntFishProducts  ...  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
count      2240.000000  ...        2240.000000   2240.000000   2240.000000
mean         37.525446  ...           5.316518      0.072768      0.074554
std          54.628979  ...           2.426645      0.259813      0.262728
min           0.000000  ...           0.000000      0.000000      0.000000
25%           3.000000  ...           3.000000      0.000000      0.000000
50%          12.000000  ...           6.000000      0.000000      0.000000
75%          50.000000  ...           7.000000      0.000000      0.000000
max         259.000000  ...          20.000000      1.000000      1.000000

       AcceptedCmp5  AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  \
count   2240.000000   2240.000000   2240.000000  2240.000000         2240.0
mean       0.072768      0.064286      0.013393     0.009375            3.0
std        0.259813      0.245316      0.114976     0.096391            0.0
min        0.000000      0.000000      0.000000     0.000000            3.0
25%        0.000000      0.000000      0.000000     0.000000            3.0
50%        0.000000      0.000000      0.000000     0.000000            3.0
75%        0.000000      0.000000      0.000000     0.000000            3.0
max        1.000000      1.000000      1.000000     1.000000            3.0

       Z_Revenue     Response
count     2240.0  2240.000000
mean        11.0     0.149107
std          0.0     0.356274
min         11.0     0.000000
25%         11.0     0.000000
50%         11.0     0.000000
75%         11.0     0.000000
max         11.0     1.000000

[8 rows x 26 columns]

 Descriptive Statistics (Categorical):
         Education Marital_Status Dt_Customer
count         2240           2240        2240
unique           5              8         663
top     Graduation        Married  31-08-2012
freq          1127            864          12

In [3]:
df['Dt_Customer'].head()

0    04-09-2012
1    08-03-2014
2    21-08-2013
3    10-02-2014
4    19-01-2014
Name: Dt_Customer, dtype: object

In [5]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')
df['Dt_Customer'].head()

0   2012-04-09
1   2014-08-03
2          NaT
3   2014-10-02
4          NaT
Name: Dt_Customer, dtype: datetime64[ns]

In [7]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y', errors='coerce')

In [9]:
print(df['Dt_Customer'].head())

0   2012-04-09
1   2014-08-03
2          NaT
3   2014-10-02
4          NaT
Name: Dt_Customer, dtype: datetime64[ns]

In [11]:
df['Dt_Customer'].head()

0   2012-04-09
1   2014-08-03
2          NaT
3   2014-10-02
4          NaT
Name: Dt_Customer, dtype: datetime64[ns]

In [25]:
df = pd.read_csv("../marketing_campaign.csv", sep='\t')

In [27]:
df['Dt_Customer'].head()

0    04-09-2012
1    08-03-2014
2    21-08-2013
3    10-02-2014
4    19-01-2014
Name: Dt_Customer, dtype: object

In [29]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y', errors='coerce')

In [31]:
df['Dt_Customer'].head()

0   2012-09-04
1   2014-03-08
2   2013-08-21
3   2014-02-10
4   2014-01-19
Name: Dt_Customer, dtype: datetime64[ns]

In [43]:
df['Dt_Customer'].isnull().sum()

0

In [35]:
df['Income'].isnull().sum()

24

In [39]:
df['Income'] = df['Income'].fillna(df['Income'].median())

In [41]:
constant_check = df.nunique().sort_values()
print(constant_check[constant_check <= 1])

Z_Revenue        1
Z_CostContact    1
dtype: int64

In [45]:
df.drop(['Z_CostContact', 'Z_Revenue'], axis=1, inplace=True)

In [51]:
#Check missingvalues

In [59]:
print("Missing values:")
print(df.isnull().sum().sort_values(ascending=False))

Missing values:
ID                     0
MntGoldProds           0
Complain               0
AcceptedCmp2           0
AcceptedCmp1           0
AcceptedCmp5           0
AcceptedCmp4           0
AcceptedCmp3           0
NumWebVisitsMonth      0
NumStorePurchases      0
NumCatalogPurchases    0
NumWebPurchases        0
NumDealsPurchases      0
MntSweetProducts       0
Year_Birth             0
MntFishProducts        0
MntMeatProducts        0
MntFruits              0
MntWines               0
Recency                0
Dt_Customer            0
Teenhome               0
Kidhome                0
Income                 0
Marital_Status         0
Education              0
Response               0
dtype: int64

In [61]:
print("\nData types:")
print(df.dtypes)

Data types:
ID                              int64
Year_Birth                      int64
Education                      object
Marital_Status                 object
Income                        float64
Kidhome                         int64
Teenhome                        int64
Dt_Customer            datetime64[ns]
Recency                         int64
MntWines                        int64
MntFruits                       int64
MntMeatProducts                 int64
MntFishProducts                 int64
MntSweetProducts                int64
MntGoldProds                    int64
NumDealsPurchases               int64
NumWebPurchases                 int64
NumCatalogPurchases             int64
NumStorePurchases               int64
NumWebVisitsMonth               int64
AcceptedCmp3                    int64
AcceptedCmp4                    int64
AcceptedCmp5                    int64
AcceptedCmp1                    int64
AcceptedCmp2                    int64
Complain                        int64
Response                        int64
dtype: object

In [63]:
print(f"\nDuplicate rows: {df.duplicated().sum()}")

Duplicate rows: 0

In [65]:
print(f"\nFinal dataset shape: {df.shape[0]} rows, {df.shape[1]} columns")

Final dataset shape: 2240 rows, 27 columns

In [67]:
df['Total_Spent']= df[['MntWines', 'MntFruits', 'MntMeatProducts',
                        'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].sum(axis=1)

In [69]:
df[['Total_Spent']].describe()

       Total_Spent
count  2240.000000
mean    605.798214
std     602.249288
min       5.000000
25%      68.750000
50%     396.000000
75%    1045.500000
max    2525.000000

In [71]:
# Total number of purchases (anywhere)
df['Total_Purchases'] = df[['NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases']].sum(axis=1)

In [73]:
df['Web_Purchase_Ratio'] = df['NumWebPurchases'] / df['Total_Purchases']
df['Catalog_Purchase_Ratio'] = df['NumCatalogPurchases'] / df['Total_Purchases']
df['Store_Purchase_Ratio'] = df['NumStorePurchases'] / df['Total_Purchases']

In [75]:
df['Web_Purchase_Ratio'].head()

0    0.363636
1    0.250000
2    0.400000
3    0.333333
4    0.357143
Name: Web_Purchase_Ratio, dtype: float64

In [77]:
from datetime import datetime
today = datetime(2015, 1, 1)
df['Customer_Tenure_Days'] = (today - df['Dt_Customer']).dt.days

In [79]:
print(df[['Dt_Customer', 'Customer_Tenure_Days']].head())

  Dt_Customer  Customer_Tenure_Days
0  2012-09-04                   849
1  2014-03-08                   299
2  2013-08-21                   498
3  2014-02-10                   325
4  2014-01-19                   347

In [83]:
df['Customer_Tenure_Years'] = df['Customer_Tenure_Days'] // 365

df['Tenure_Group'] = pd.cut(df['Customer_Tenure_Years'],
                            bins=[0, 1, 3, 5, 10],
                            labels=['<1 yr', '1-3 yrs', '3-5 yrs', '5+ yrs'])

In [89]:
print(df[['Dt_Customer', 'Customer_Tenure_Days', 'Customer_Tenure_Years', 'Tenure_Group']].head(10))

  Dt_Customer  Customer_Tenure_Days  Customer_Tenure_Years Tenure_Group
0  2012-09-04                   849                      2      1-3 yrs
1  2014-03-08                   299                      0        <1 yr
2  2013-08-21                   498                      1        <1 yr
3  2014-02-10                   325                      0        <1 yr
4  2014-01-19                   347                      0        <1 yr
5  2013-09-09                   479                      1        <1 yr
6  2012-11-13                   779                      2      1-3 yrs
7  2013-05-08                   603                      1        <1 yr
8  2013-06-06                   574                      1        <1 yr
9  2014-03-13                   294                      0        <1 yr

In [87]:
df['Tenure_Group'] = pd.cut(df['Customer_Tenure_Years'],
                            bins=[-1, 1, 3, 5, 10],
                            labels=['<1 yr', '1-3 yrs', '3-5 yrs', '5+ yrs'],
                            include_lowest=True)

In [91]:
df.to_csv("cleaned_marketing_data.csv", index=False)